*{
    
}

body  {
    background-color: #cccccc;
    height: 200%;
    width: 100%;
}
.margen-inferior{
    margin-bottom: 10px;
}

.margen-superior{
    margin-top: 10px;
}

.margen-derecho{
    margin-right: 20px;
}
.margen-izquierdo{
    margin-left: 10px;
}



.letra150{
	font-size: 200%;
}

.letra20{
	font-size: 20px;
}

.borde{
	border-style: solid;
	border-color: black;
}

textarea {
    resize: none;
}
.derecha{
    float: right;
}



